In [ ]:
import numpy as np
import pandas as pd
arreglo = pd.DataFrame(np.ones((1000,5)))

In [ ]:
arreglo

       0    1    2    3    4
0    1.0  1.0  1.0  1.0  1.0
1    1.0  1.0  1.0  1.0  1.0
2    1.0  1.0  1.0  1.0  1.0
3    1.0  1.0  1.0  1.0  1.0
4    1.0  1.0  1.0  1.0  1.0
..   ...  ...  ...  ...  ...
995  1.0  1.0  1.0  1.0  1.0
996  1.0  1.0  1.0  1.0  1.0
997  1.0  1.0  1.0  1.0  1.0
998  1.0  1.0  1.0  1.0  1.0
999  1.0  1.0  1.0  1.0  1.0

[1000 rows x 5 columns]

In [ ]:
arreglo.describe()

            0       1       2       3       4
count  1000.0  1000.0  1000.0  1000.0  1000.0
mean      1.0     1.0     1.0     1.0     1.0
std       0.0     0.0     0.0     0.0     0.0
min       1.0     1.0     1.0     1.0     1.0
25%       1.0     1.0     1.0     1.0     1.0
50%       1.0     1.0     1.0     1.0     1.0
75%       1.0     1.0     1.0     1.0     1.0
max       1.0     1.0     1.0     1.0     1.0

La media de tal columan es interesante y es tal valor y me sirve para tal cosa.

In [ ]:
arreglo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1000 non-null   float64
 1   1       1000 non-null   float64
 2   2       1000 non-null   float64
 3   3       1000 non-null   float64
 4   4       1000 non-null   float64
dtypes: float64(5)
memory usage: 39.2 KB

# Columnas

Columna 1 - 20 ->

In [ ]:
arreglo.loc[arreglo.loc[1:3, 0] == arreglo.loc[1:3, 1]]

IndexingError: ignored

In [ ]:
correlacion = df.corr()
sns.heatmap(correlacion)

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [ ]:
dataset = pd.DataFrame(np.arange(10).reshape([5,2]))
dataset = dataset.rename(columns={0: "Columna 0", 1: "Columna 1"})

In [ ]:
dataset

   Columna 0  Columna 1
0          0          1
1          2          3
2          4          5
3          6          7
4          8          9

In [ ]:
dataset.columns.get_loc("Columna 0")

0

In [ ]:
list(enumerate(dataset.columns))

[(0, 0), (1, 1)]

In [ ]:
dataset.columns.values[dataset.columns.get_loc("Columna 0")+1]

'Columna 1'

In [ ]:
dataset[dataset["Columna 0"]==4].loc[:,dataset.columns.values[dataset.columns.get_loc("Columna 0")+1]]

2    5
Name: Columna 1, dtype: int64

In [ ]:
from scipy.optimize import minimize

def objective_function(x, y):
  return 3* x ** 4 - 2 * x + y*3

res = minimize(objective_function, 3, 5) 
res

      fun: 14.174518187777053
 hess_inv: array([[0.09130344]])
      jac: array([3.93390656e-06])
  message: 'Optimization terminated successfully.'
     nfev: 33
      nit: 10
     njev: 11
   status: 0
  success: True
        x: array([0.55032157])

In [ ]:
from pyxll import xl_app
def objective_func(arg):
    xl = xl_app()
    # Copy argument values to input range
    xl.Range('C2').Value = float(arg[0])
    xl.Range('C3').Value = float(arg[1])
    # Calculate after changing the inputs
    xl.Calculate()
    # Return the value of the output cell
    result = xl.Range("C4").Value
    return result

In [ ]:
def cuadrado(x):
  return x**2

for column in dataset.columns:
  dataset[column + "_cuadrado"] = dataset[column].apply(cuadrado)

In [ ]:
dataset

   Columna 0  Columna 1  Columna 0_cuadrado  Columna 1_cuadrado
0          0          1                   0                   1
1          2          3                   4                   9
2          4          5                  16                  25
3          6          7                  36                  49
4          8          9                  64                  81

In [ ]:
dataset = dataset.infer_objects()

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Columna 0           5 non-null      int64
 1   Columna 1           5 non-null      int64
 2   Columna 0_cuadrado  5 non-null      int64
 3   Columna 1_cuadrado  5 non-null      int64
dtypes: int64(4)
memory usage: 288.0 bytes

In [ ]:
def infer_df(df, hard_mode=False, float_to_int=False, mf=None):
    ret = {}

    # ToDo: How much does auto convertion cost
    # set multiplication factor
    mf = 1 if hard_mode else 0.5

    # set supported datatyp
    integers = ['int8', 'int16', 'int32', 'int64']
    floats = ['float16', 'float32', 'float64']

    # ToDo: Unsigned Integer

    # generate borders for each datatype
    b_integers = [(np.iinfo(i).min, np.iinfo(i).max, i) for i in integers]
    b_floats = [(np.finfo(f).min, np.finfo(f).max, f) for f in floats]

    for c in df.columns:
        _type = df[c].dtype

        # if a column is set to float, but could be int
        if float_to_int and np.issubdtype(_type, np.floating):
            if np.sum(np.remainder(df[c], 1)) == 0:
                df[c] = df[c].astype('int64')
                _type = df[c].dtype

        # convert type of column to smallest possible
        if np.issubdtype(_type, np.integer) or np.issubdtype(_type, np.floating):
            borders = b_integers if np.issubdtype(_type, np.integer) else b_floats

            _min = df[c].min()
            _max = df[c].max()

            for b in borders:
                if b[0] * mf < _min and _max < b[1] * mf:
                    ret[c] = b[2]
                    break

        if _type == 'object' and len(df[c].unique()) / len(df) < 0.1:
            ret[c] = 'category'

    return ret

In [ ]:
infer_df(dataset)

{'Columna 0': 'int8',
 'Columna 0_cuadrado': 'int16',
 'Columna 1': 'int8',
 'Columna 1_cuadrado': 'int16'}

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
import pandas as pd 
import numpy as np
dataframe = pd.DataFrame(np.ones([5,5]))

In [ ]:
dataframe.to_csv("/gdrive/MyDrive/ejemplo.csv")

# Convertir un notebook de colab a un html
-----

In [1]:
!pip install nbconvert

Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (5.6.1)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert) (1.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert) (0.8.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert) (4.1.0)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert) (0.3)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbconvert) (4.7.1)
Requirement already satisfied: nbformat>=4.4 in /usr/local/lib/python3.7/dist-packages (from nbconvert) (5.1.3)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from nbconvert) (5.1.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert) (0.5.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from nbconvert) (2.6.1)
Requirement already satisfied: jinja2>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbconvert) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.4->nbconvert) (2.0.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.4->nbconvert) (2.6.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from nbformat>=4.4->nbconvert) (0.2.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert) (21.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert) (0.5.1)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert) (1.15.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->bleach->nbconvert) (2.4.7)

In [2]:
!jupyter nbconvert --to html /content/archivo.ipynb

[NbConvertApp] Converting notebook /content/archivo.ipynb to html
[NbConvertApp] Writing 5599317 bytes to /content/archivo.html

In [3]:
!jupyter nbconvert --to script /content/archivo.ipynb

[NbConvertApp] Converting notebook /content/archivo.ipynb to script
[NbConvertApp] Writing 62720 bytes to /content/archivo.py

In [6]:
!cat /proc/meminfo

MemTotal:       13302928 kB
MemFree:        10444036 kB
MemAvailable:   12496444 kB
Buffers:          123344 kB
Cached:          2041188 kB
SwapCached:            0 kB
Active:          1019800 kB
Inactive:        1598328 kB
Active(anon):     397660 kB
Inactive(anon):      416 kB
Active(file):     622140 kB
Inactive(file):  1597912 kB
Unevictable:           0 kB
Mlocked:               0 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:               580 kB
Writeback:             0 kB
AnonPages:        453648 kB
Mapped:           256716 kB
Shmem:              1148 kB
KReclaimable:     147664 kB
Slab:             192440 kB
SReclaimable:     147664 kB
SUnreclaim:        44776 kB
KernelStack:        4672 kB
PageTables:         5712 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6651464 kB
Committed_AS:    3126256 kB
VmallocTotal:   34359738367 kB
VmallocUsed:        7044 kB
VmallocChunk:          0 kB
Percpu:             1400 kB
AnonHugePages:      2048 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:       88896 kB
DirectMap2M:     5150720 kB
DirectMap1G:    10485760 kB

In [7]:
!cat /proc/cpuinfo

processor	: 0
vendor_id	: AuthenticAMD
cpu family	: 23
model		: 49
model name	: AMD EPYC 7B12
stepping	: 0
microcode	: 0x1000065
cpu MHz		: 2249.998
cache size	: 512 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 0
initial apicid	: 0
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ht syscall nx mmxext fxsr_opt pdpe1gb rdtscp lm constant_tsc rep_good nopl nonstop_tsc cpuid extd_apicid tsc_known_freq pni pclmulqdq ssse3 fma cx16 sse4_1 sse4_2 movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm cmp_legacy cr8_legacy abm sse4a misalignsse 3dnowprefetch osvw topoext ssbd ibrs ibpb stibp vmmcall fsgsbase tsc_adjust bmi1 avx2 smep bmi2 rdseed adx smap clflushopt clwb sha_ni xsaveopt xsavec xgetbv1 clzero xsaveerptr arat npt nrip_save umip rdpid
bugs		: sysret_ss_attrs spectre_v1 spectre_v2 spec_store_bypass
bogomips	: 4499.99
TLB size	: 3072 4K pages
clflush size	: 64
cache_alignment	: 64
address sizes	: 48 bits physical, 48 bits virtual
power management:

processor	: 1
vendor_id	: AuthenticAMD
cpu family	: 23
model		: 49
model name	: AMD EPYC 7B12
stepping	: 0
microcode	: 0x1000065
cpu MHz		: 2249.998
cache size	: 512 KB
physical id	: 0
siblings	: 2
core id		: 0
cpu cores	: 1
apicid		: 1
initial apicid	: 1
fpu		: yes
fpu_exception	: yes
cpuid level	: 13
wp		: yes
flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ht syscall nx mmxext fxsr_opt pdpe1gb rdtscp lm constant_tsc rep_good nopl nonstop_tsc cpuid extd_apicid tsc_known_freq pni pclmulqdq ssse3 fma cx16 sse4_1 sse4_2 movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm cmp_legacy cr8_legacy abm sse4a misalignsse 3dnowprefetch osvw topoext ssbd ibrs ibpb stibp vmmcall fsgsbase tsc_adjust bmi1 avx2 smep bmi2 rdseed adx smap clflushopt clwb sha_ni xsaveopt xsavec xgetbv1 clzero xsaveerptr arat npt nrip_save umip rdpid
bugs		: sysret_ss_attrs spectre_v1 spectre_v2 spec_store_bypass
bogomips	: 4499.99
TLB size	: 3072 4K pages
clflush size	: 64
cache_alignment	: 64
address sizes	: 48 bits physical, 48 bits virtual
power management:

In [8]:
!nproc

2

# Estructura Proyecto

## Importaciones (Libererias que se deben trabajar)
------

## Descripción del dataset
------

De manera escrita, explicar brevemente de que se trata el dataset que se va a trabajar

## Problema 
------

En texto, explicar cual es el problema que se quiere resolver con la metodología de CRISP-DM

## Objetivos 
------

Objetivo General. \\
2 o 3 Objetivos especificos.

## Hipótesis (cientifica o estadística)
------

En texto escribir cual es esa hipótesis central que se quiere resolver

## Carga De Datos
------

Ejecución de los comandos para carga datos

* pandas
* pd.read_csv() # Lectura
* pd.read_excel()
* pd.read_json()
* pd.read_xml()
* pd.read_html()
* open() de python para archivos txt

## Describir los datos 
------

Con comandos de pandas como describe e info, describir los datos. 

En texto plano describir las columnas.

## Uniones de datasets
------

Si tenemos varios datasets y los debemos unir, este sería el paso para explicarlo.

Podemos unir distinos dataframes con

* pd.merge
* pd.join
* pd.concat

## Estadística exploratoria
------

* Medidas de tenencia central
  * Media
  * Moda
  * Mediana

* Medidas de dispersión
  * Desviación estandar
  * Varianza

* Kurtosis
* Sesgo

* Máximos y minimos

## Visualización de datos
------

Estaticos
* Utilizar matplotlib
* Utilizar Seaborn


* Gráficos estaticos 

Distintos tipos de gráficos

* Dispersíon
* Barras
* Cajas
* Rugplots
* Strips
* Hexagonales
* Histogramas
* KDE
* Dendograma
* Mapas de calor (heatmaps)
* Mapas
* Mapas coropleticos
* Pairplots

## Análisis de datos faltantes e imputaciones
----

Utilizar las funciones isnull, is not null, dropna de pandas

Existe una libreria para manejo de nulos se llama missigno

Utilizar filtors para hacer imputaciones

df[df["Columna"].isnull()] = -np.inf

## Agrupaciones
----

Realizar distintas agrupaciones con la función group de pandas y hacer análisis sobre el resultado.

Tener grupos multindice

pd.groupby(["c1", "c2"])

## Filtros
----

Realizar distintos tipos de filtros a partir de los datos y explicar porque hacerlos sobres sus datos.

## Construccion de tablas pivote y crosstab
----

Realizar distintos procesos de tablas pivote.

## Pruebas de correlación
----

Utilizar pruebas de correlación como
* Pearson
* Spearman
* Tau Kendall

Prueba de independencia de $\chi^2$ -> chi-cuadrado

## Construcción de intervalos de confianza
----

Algunos intervalos de confianza, respondiendo la hipótesis que se tiene acerca de los datos.

## Prueba de hipótesis
-----

Plantearse algunas pruebas de hipótesis sobre los datos

## Gráficos avanzados
---

Animado o dinamico
* Utilizar Plotly


* Gráficos interactivos


Distintos tipos de gráficos

* Dispersíon
* Barras
* Cajas
* Rugplots
* Strips
* Hexagonales
* Histogramas
* KDE
* Dendograma
* Mapas de calor (heatmaps)
* Mapas
* Mapas coropleticos
* Mapas interactivos
* Sobre el tiempo

## (Opcional) Uso de mapas y mapas coropleticos
---

Utilizar algunas de las siguientes librerias:
* Plotly
* Leaflet
* Geopandas

## Análisis de regresión y clasificación n-aria 
-----

* Utilizar regresión lineal
* Utilizar regresión logistica
* Utilizando Statsmodels

## Conclusiones
----

Realizar algunas conclusiones.